
section{
    display: inline-flex;
    background-color:rgb(212, 166, 228) ;
    width: 100%;
}
footer img{
    width: 30px;

}
header{
    background-color: bisque;
  display:flex;
justify-content: center;

}
.imagen1{
    width: 300px;
    align-items: center;
}
.izquierda  p{
    background-color: rgb(212, 166, 228);
    padding: 10px;
    width: 30%;
font-family:'Times New Roman', Times, serif;
font-size: larger;
}
.imagen2{
    padding: 10px;
width: 200px;
}
.centro {

display: flex;
justify-content: center;

}
video{
    padding-left:500px;
width: 300px;
align-items: center;
}
.derecha h2 {

    padding: 70px;
display: flex;
    justify-content: center;
}
.gif{
    margin-left: 150px;
    align-items: center;
    width: 300px;
    height: 300px;
}
.letreros{
    display:flex;
    align-items: center;
}
footer{
    margin: 100px;
}
nav{
    padding-left: 80%;
    background-color: beige;
}