.contePrincipal{
border: 1px solid black;
max-height: max-content;
}
.dado{
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 20px;
    justify-content: space-around;
}
.dados{ background-color: rgb(248, 200, 232);
border: 1px solid black;
    width: 200px;
    height: 200px;
    display: flex;
    gap:68px ;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 30px;
}
.punto{
    background-color: rgb(8, 8, 8);
    width: 20px;
    height: 20px;
    border: 1px solid rgb(3, 3, 3);
border-radius: 10px ;
margin: 20px;
}
.punto5{
    transform: translatey(-190px);
}
.dado5 {
  align-items: center;
}
.dado6 {
  flex-direction: column;
}
.punto6{
    margin: 0px;
}
.div{
    width: 100%;
    margin-right: 10px;
    display: flex;
    flex-wrap: wrap;
}
.trikki {
    min-width: max-content;
    display: block;
    min-height: min-content;
margin: 10px;
}
.c{
border-right: 1px solid black;
padding: 10px 30px;
}
.a{
    border-bottom: 1px solid black;
    padding: 30px;
    border-right: 1px solid black;
}.b{
    border-top: 1px solid black;
    padding: 30px;
    border-right: 1px solid black;
}
.d{ 
    border-left: 1px solid black;
    border-bottom: 1px solid black;
    padding: 21px;
    box-sizing: border-box;
    
}
.e{
    border-left: 1px solid black;
        padding: 10px 30px;
}
.f{
    border-top: 1px solid black;
        padding: 30px;
        border-left: 1px solid black;
}
.trikki1 p{
    font-size: larger;
    color: red;
   margin-right: 10px;
}
.trikki1 .mediox{
    color: black;
    font-size: medium;
    margin-top: 35px;
}
.trikki1{
    width: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: start;
    margin-bottom:10px ;
}
.ladoizquierdo1{
    display:block;
width: 50px;
margin-right: 20px;
}
.ladoderecho1{
display:block;
width: 80px;
margin-left: 20px;
}
.trikki2{
    display: flex ;                                                                                                                                                     ;
    width: 400px;
 margin-bottom: 10px;
 flex-direction: column;
       
}
.ladoarriba{
    display: flex;
   
        width: 50px;
        margin-bottom: 0px;
        flex-direction: row;
}
.lado{
    
    display: block;
    border-bottom: 1px solid black;
        padding: 30px;
        border-right: 1px solid black;
}
.c2{
    padding: 10px 15px;  
}

.b2{
    border-right:none ;
}
.ladoabajo{
    display: flex;
    width: 50px;
    margin-top: 0px;
    flex-direction: row;
}
.lado1{
    display: block;
    border-top: 1px solid black;
        padding: 30px;
        border-right: 1px solid black;   
}
.e2{
    padding: 10px 15px; 
}
.f2{
    border-right:none ;
    font-size: larger;
    color: red;
}
.trikki2 .medio1{
    margin-top: 5px;
  margin-left: 75px;  
  font-size: larger;
    color: red;
} .p1{
    margin-bottom: 5px;
    color: black;
    margin-left: 122px; 
    margin-top: -40px;
}


.lado2{
    font-size: larger;
      color: red;

}.bb{
    padding-bottom: 50px;
}.cc{
    padding-bottom: 18px;
}
.dd{
    padding: 32px;
}


.medio3{
    margin-top: 85px;
    margin-left: -18px;
}

.x{
    padding: 5px;
    text-align: center;
}
.raya{
    height: 220px;
    border: 1px solid rgb(211, 9, 9);
    transform: rotate(140deg);
    margin-left: -80px;
    margin-top: -10px;
}
.article1{
    display: block;
    display: flex;
    flex-wrap: wrap;
margin-right: 140px;
width: 100%;
}

.texto1{
background-color: blueviolet;
    border: 2px solid black;
 margin-bottom: 20px;
 height: auto;
}
.texto2{
    background-color: blueviolet;
    width: 40%;
    height: auto;
    border: 2px solid black;
    transform: rotate(90deg);
border: 2px solid;
}
  
  @media (min-width: 500px) {
    .article1 {
      width: 50%;
    }
  }