@import url('https://fonts.googleapis.com/css2?family=Abel&family=Imbue:opsz,wght@10..100,100&family=Noto+Serif:wght@200&family=Playfair+Display&family=Roboto:wght@100&display=swap');
.section {
    background-color: rgb(238, 98, 47);
 display: flex;
 flex-wrap: wrap;
  padding: 30px;
  max-width: max-content;

}
.div1{
display: inline-block;
max-width: max-content;
    height: 370px;
    background-color: rgb(215, 210, 210);
padding: 10px ;
}
.div2{
    display: inline-block;
        height: 370px;
        background-color: rgb(215, 210, 210);
    padding: 10px ;
    max-width: max-content;
}
.divHijo1{
    background: url(../imagenes/FondoTarjeta.jpg);
    border-radius: 20px;
    border: 1px solid rgb(6, 6, 6);
    height: 300px;
    width: 450px;
    margin: 10px;
 
   
}
.barraNegra{
    background-color: black;
    height: 35px;
    margin-top: 8px;
    border-radius: 4px;
}
.texto1{
    color: white;
    font-size: small;
    text-align: center;
    margin: 4px;
}
.barraBlanca{
    background:url(../imagenes/rayado.png);
        height: 35px;
        width: 98%;
        margin-left: 5px;
       
       
}
.divHijo2{
        background: url(../imagenes/FondoTarjeta.jpg);
            border-radius: 20px;
            border: 1px solid rgb(6, 6, 6);
            height: 300px;
            width: 450px;
            margin: 10px;
}
.texto2{
    color: white;
        font-size: small;
        text-align: center;
        margin-top: 4px;
}.aside {
display: flex;
justify-content: center;
align-items: center;
margin-top: 0PX;
}
.numeros{
transform: scaleX(-1);
    margin-top: 0px;
    margin-left: 10px;
        font-family: 'Imbue', serif;
        font-size: 60px;
        text-align: center;
    }
@media (width < 1000px){
    .section{
   max-width: 500px;
    }
}